[flake8]
max-line-length = 130
exclude = .venv,.git,__pycache__,__init__.py,dev,backend/migrations/**,
ignore = B008, W503,F401,E402
# E402 module level import not at top of file
# F401 module imported but unused