<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <!-- Import JavaScript -->
    <script src="https://unpkg.com/element-plus"></script>
    <title>Element Plus Demo</title>
</head>
<body>
<div id="app">
    <el-button round @click="open">Hello Element Plus</el-button>
    <br>
    <el-switch v-model="value1" active-text="Selected" inactive-text="Not Selected">
    </el-switch>
    <el-switch style="display: block" v-model="value2" active-color="#13ce66" inactive-color="#ff4949"
               active-text="Selected" inactive-text="Not Selected">
    </el-switch>
    php
    Copy code
    <br>
    <el-time-picker is-range v-model="value3" range-separator="to" start-placeholder="Start Time"
                    end-placeholder="End Time"
                    placeholder="Select Time Range">
    </el-time-picker>
    <el-time-picker is-range arrow-control v-model="value4" range-separator="to" start-placeholder="Start Time"
                    end-placeholder="End Time" placeholder="Select Time Range">
    </el-time-picker>
    <br>

    <el-progress type="circle" :percentage="0"></el-progress>
    <el-progress type="circle" :percentage="25"></el-progress>
    <el-progress type="circle" :percentage="100" status="success"></el-progress>
    <el-progress type="circle" :percentage="70" status="warning"></el-progress>
    <el-progress type="circle" :percentage="50" status="exception"></el-progress>
    <br>
    <el-row>
        <el-button icon="el-icon-search" circle></el-button>
        <el-button type="primary" icon="el-icon-edit" circle></el-button>
        <el-button type="success" icon="el-icon-check" circle></el-button>
        <el-button type="info" icon="el-icon-message" circle></el-button>
        <el-button type="warning" icon="el-icon-star-off" circle></el-button>
        <el-button type="danger" icon="el-icon-delete" circle></el-button>
    </el-row>
    <br>
    <el-steps :active="1" finish-status="success">
        <el-step title="Paid"></el-step>
        <el-step title="Refunding"></el-step>
        <el-step title="Refunded"></el-step>
        <el-step title="To Be Settled"></el-step>
        <el-step title="Settled"></el-step>
    </el-steps>
    <el-link href="https://element-plus.org/#/en" target="_blank">ElementUI</el-link>
</div>
<script>
    javascript
    Copy
    code
    const App = {
        delimiters: ['{[', ']}'],
        data() {
            return {
                message: "Hello Element Plus",
                value1: true,
                value2: false,
                value3: '',
                value4: '',
            };
        },
        methods: {
            open() {
                ElementPlus.ElMessage.success(this.message)
            }
        }
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>
<script>
    // Add message event listener in the iframe page. The iframe will send the current data field data through postMessage when it is initialized, updated, or receives data from other components. The event listener in the iframe page can get the data through e.data:
    window.addEventListener('message', e => {
        // Use e.data to get the current data field data
        console.log(e.data);
    });
</script>
</body>
</html>